<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSITY BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <nav style="width: 50rem" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">UNIVERSITY BLOG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add_post') }}" class="btn btn-primary">Добавить
                                пост</a>
                        </li>
                    </ul>

                    </span>
                </div>
            </div>
        </nav>
        {% extends 'base.html' %}

        {% block content %}
        <h1>Latest posts</h1>
        {% for post in posts %}
        <p></p>
        <div style="width: 50rem" class="card">
            <div class="card-header">
                {{ post.author }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
                <a href="{{ url_for('post_detail', id=post.id)}}" class="btn btn-primary">Читать</a>
            </div>
            <div class="card-footer text-body-secondary">
                <p>
                <form action="{{ url_for('like_post', id=post.id)}}" method="post">
                    <button type="submit" class="btn btn-primary position-relative">
                        💖
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ post.likes }}
                            <span class="visually-hidden">Likes number</span>
                        </span>
                    </button> <span style="margin-left: 10px"> Posted on: {{ post.date_pub }} </span>
                </form>
                </p>
            </div>

        </div>
        {% endfor %}
        <p></p>
        {% endblock %}
    </div>
    </div>
</body>

</html>